<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<footer class="bg-light  fixed-bottom">
    <div class="navbar">
        <small style="color: black;" class="mx-auto"> ListelApp © 2021 - Bianca Lazzaris</small>
        
      </div>
  </footer>
  
    
</body>
</html>