<!DOCTYPE html>
<html lang="pt-br">

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand">ListelApp</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            <a href="/novo" class="btn btn-success m-2 my-sm-0" role="button">Novo Cadastro</a>
        </form>
    </div>
</nav>

